[include Macros/air_filter_timer.cfg]
[include Macros/filament_change.cfg]
[include Macros/filament_sensor.cfg]
[include Macros/homing.cfg]
[include Macros/parking.cfg]
#[include Macros/pause_resume.cfg]
[include Macros/pid.cfg]
[include Macros/print-start.cfg]
[include Macros/print-end.cfg]
[include Macros/print-time.cfg]

[gcode_macro DISABLE_STEPPERS]
#description: Disables the printers stepper motors
gcode:
    M84 X Y E
