[include Macros/filament.cfg]
[include Macros/print-start.cfg]
[include Macros/print-end.cfg]

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------
    RESTORE_GCODE_STATE NAME=STATE_G32

   
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro PRINT_START]
gcode:
  SET_DISPLAY_TEXT MSG="Print Start"
  SET_PIN PIN=caselight VALUE=1.00
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  SET_DISPLAY_TEXT MSG="Homing"
  STATUS_HOMING                                          # Sets SB-leds to homing-mode
  G28                                                    # Full home (XYZ)
  G90                                                    # Absolut position
  BED_MESH_CLEAR                                         # Clear any Bed Mesh
  SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"              # Displays info
  STATUS_HEATING                                         # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                       # Goes to center of the bed
  M190 S{target_bed}                                     # Sets the target temp for the bed
  SET_DISPLAY_TEXT MSG="Soak for 5min"                   # Displays info
  G4 P300000                                             # Waits 5 min for the bedtemp to stabilize
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                    # Displays info
  M109 S150                                              # Heats the nozzle to 150c
  SET_DISPLAY_TEXT MSG="Leveling"                        # Displays info
  STATUS_LEVELING                                        # Sets SB-leds to leveling-mode
  G32                                                    # Quad-Gantry-Level
  SET_DISPLAY_TEXT MSG="Bed Mesh"                        # Displays info
  STATUS_MESHING                                         # Sets SB-leds to bed mesh-mode
  BED_MESH_CALIBRATE                                     # Starts bed mesh
  Smart_Park                                             # Smart parks
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"      # Displays info
  STATUS_HEATING                                         # Sets SB-leds to heating-mode
  M107                                                   # Turns off partcooling fan
  M109 S{target_extruder}                                # Heats the nozzle to printing temp
  LINE_PURGE                                             # Purge
  SET_DISPLAY_TEXT MSG="Go Baby Go!"                     # Displays info
  STATUS_PRINTING                                        # Sets SB-leds to printing-mode   
  
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
